name: Test Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build-sphinx:
    name: Build with Sphinx
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade -r requirements.txt

      - name: Build docs
        run: python -bb -X dev -W error -m sphinx --color -n -E -a -W --keep-going docs build

      - name: Check links
        run: python -b -X dev -m sphinx --color -b linkcheck -W --keep-going docs build
